<%= link_to dashboard_path do %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= formula.photo_url %>');">
    <div class="card-category">Amount: <%= "#{humanized_money(formula.price)} €" %></div>
    <div class="card-description">
      <h2><%= formula.name %></h2>
      <p><%= formula.comment %></p>
      <p><%= formula.number_of_sessions %> Séances</p>
    </div>
  </div>
<% end %>
