<!-- Modal -->
<div class="modal fade" id=<%= date.to_s %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crénaux horaires disponibles</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :booking, method: :post, url: test_path do |f| %>
          <%= f.input :date, input_html: { value: date }, as: :hidden %>
          <%= f.input :time, collection: @planning[(@wdays[date.wday]).to_sym], as: :radio_buttons, :label_method => lambda { |h| "#{h}h - #{h+1}h" }, label: false %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, "Réserver", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
