<div class="wrapper-calendar">
  <%= month_calendar do |date| %>
    <% daily_bookings = @checkups.select{ |c| c.date.to_date == date.to_date } %>
    <% my_bookings = daily_bookings.select{ |c| c.user == current_user } %>
    <%= date.day %>
    <br>
    <% if !my_bookings.empty? %>
      <% if my_bookings.first.state == "pending" %>
        <%= link_to "Ma réservation (non confirmée)", new_checkup_payment_path(my_bookings.first) %>
      <% else %>
        <%= link_to "Ma réservation", checkup_path(my_bookings.first) %>
      <% end %>
    <% elsif date > DateTime.now && !date.saturday? && !date.sunday? %>
      <% if daily_bookings.count >= @planning[(@wdays[date.wday]).to_sym].count %>
        Complet
      <% else %>
        <button type="button" class="button-calendar" data-toggle="modal" data-target=<%= "##{date.to_s}" %> >
          Réserver
        </button>
        <% daily_planning = @planning[(@wdays[date.wday]).to_sym] - daily_bookings.map{ |c| c.date.hour } %>
        <%= render partial: '/shared/times_modal', locals: { date: date, daily_planning: daily_planning } %>
      <% end %>
    <% end %>
  <% end %>
</div>

